{# templates/medicament/_form.html.twig #}
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    <button type="submit">Add Medicament</button>
{{ form_end(form) }}
