{% extends 'base.html.twig' %}

{% block title %}Medicament index{% endblock %}

{% block section %}
    <section class="book" id="medications">
    <div class="row">
        
        <div class="table-container">
            <h3 class="heading" ><span>list</span> des médicaments</h3>
            <table class="medication-table">
                <thead>
                    <tr>
                        <th>Nom du Médicament</th>
                        <th>Durée de Consommation</th>
                        <th>Catégorie</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                   {% for medicament in medicaments %}
            <tr>
                <td>{{ medicament.name }}</td>
                <td>{{ medicament.duration }}</td>
                <td>{{ medicament.category }}</td>
                <td>{{ medicament.description }}</td>
                <td>
                    <a href="{{ path('app_medicament_show', {'id': medicament.id}) }}" class="btn">show</a>
                    <a href="{{ path('app_medicament_edit', {'id': medicament.id}) }}" class="btn">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
                </tbody>
            </table>
                <a href="{{ path('app_medicament_new') }}" class="btn">Create new</a>
        </div>
    </div>
    <div class="image">
                <img src="{{asset('Frontoffice/image/book-img.svg')}}" alt="" height="150" width="150">
            </div>
</section>


{% endblock %}
