{% extends 'base.html.twig' %}

{% block title %}Log in - MediTrack{% endblock %}

{% block body %}
    <div class="form-container">
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="alert alert-info">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1>Sign In</h1>
        
        <form method="post" id="login_form">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group">
                <div class="checkbox-container">
                    <input type="checkbox" name="_remember_me" id="remember_me">
                    <label for="remember_me">Remember me</label>
                </div>
            </div>

            <button class="btn" type="submit">
                Sign in
            </button>
        </form>
        
        <div class="additional-links">
            <p>Forgot your password? <a href="{{ path('app_forgot_password_request') }}">Click here to reset</a></p>
            <p>Don't have an account? <a href="{{ path('app_register') }}">Click here to register</a></p>
        </div>
    </div>
{% endblock %}