{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ form_widget(form.date, {'attr': {'type':'date','class': 'box','placeholder':'name'}}) }}
    {% if form_errors(form.date) %}
    <div class="error-message">
        {{ form_errors(form.date) }}
    </div>
{% endif %}


    {{ form_widget(form.notice, {'attr': {'class': 'box','placeholder':'Notice'}}) }}
    {% if form_errors(form.notice) %}
    <div class="error-message">
        {{ form_errors(form.notice) }}
    </div>
    {% endif %}

   
     <input type="text" id="medicament-search" class="box" placeholder="Search Medicaments...">
    <div id="medicament-container">
       {{ form_widget(form.medicaments, {'attr': {'class': 'box'}}) }}
    </div>
   
   
    {{ form_widget(form.save,{'label':'Ajouter','attr':{'class':'btn'}})}}
    <a href="{{ path('app_ordonance_index') }}" class="btn">back to list</a>
{{ form_end(form) }}

<script>
    document.getElementById('medicament-search').addEventListener('keyup', function() {
        let filter = this.value.toLowerCase();
        let checkboxes = document.querySelectorAll('#medicament-container input[type="checkbox"]');

        checkboxes.forEach(function(checkbox) {
            let label = checkbox.nextElementSibling; // Get the label next to the checkbox

            if (label) {
                let text = label.textContent.toLowerCase();
                if (text.includes(filter)) {
                    checkbox.style.display = "inline-block"; // Show checkbox
                    label.style.display = "inline-block";   // Show label
                } else {
                    checkbox.style.display = "none"; // Hide checkbox
                    label.style.display = "none";   // Hide label
                }
            }
        });
    });
</script>
