{% extends 'base.html.twig' %}

{% block title %}Ordonance index{% endblock %}

{% block body %}
    <h1>Ordonance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Notice</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordonance in ordonances %}
            <tr>
                <td>{{ ordonance.id }}</td>
                <td>{{ ordonance.notice }}</td>
                <td>{{ ordonance.date ? ordonance.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_ordonance_show', {'id': ordonance.id}) }}">show</a>
                    <a href="{{ path('app_ordonance_edit', {'id': ordonance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ordonance_new') }}">Create new</a>
{% endblock %}
