<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicare | Hospital Website</title> 
    <!-- Page Icon -->
     <link rel="shortcut icon" href="{{ asset('Frontoffice/image/heartbeat-solid.svg') }}" type="image/x-icon">   
    <!-- font-awesome -->
    <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css') }} ">
    <!-- Custom Css File Link -->
    <link rel="stylesheet" href="{{ asset('Frontoffice/css/style-seif-aridhi.css') }}">
    <link rel="stylesheet" href="{{ asset('Frontoffice/css/style.css') }}">

</head>
<body>
    <!-- Header Section Starts -->
    <div class="header">
        <a href="#" class="logo"><i class="fas fa-heartbeat"></i> medcare.</a>
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#services">services</a>
            <a href="#about">about</a>
            <a href="#doctors">doctors</a>
            <a href="#book">book</a>
            <a href="#review">review</a>
            <a href="#blogs">blogs</a>
        </nav>
        <div id="menu-btn" class="fas fa-bars"></div>
    </div>
    <!-- Header Section End -->

    <!-- Home Section starts -->
    <section class="home" id="home">
      {% block section %}
      
      
      {% endblock %}
    </section>
    <!-- Home section End  -->
  


   
    <!-- Footer section Starts  -->
    <section class="footer">
        <div class="credit">created by <span>zaki chowdhury</span> | all right reserved</div>
    </section>
    <!-- Footer section End  -->











    <!-- custom js file link  -->
    <script src="{{ asset('Frontoffice/js/script.js') }}"></script>
</body>
</html>